<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">About</a></li>
          <li><a href="/committees">Committees</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="/links">Links</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
  </div>
</div>


<div class="container ">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
 <br>
 <strong>HU-LEARN MISSION</strong><br><br>
HU-LEARN is a multi-year initiative housed in the Office of the Provost that will encourage faculty in all of the University's schools and colleges to increase the use of online technology in their courses for the University's on-campus students and to develop a wide array of fully online degree and certificate programs for off-campus students. A HU-LEARN Advisory Committee, comprised of faculty from all the Schools and Colleges was established by the Office of the Provost in Spring 2013. The Advisory Committee, chaired by <strong>Dr. Moses Garuba</strong>, is organized under the HU-Teach, Howard Online (HU-OL), and the Standards & Compliance subcommittees.<br><br>

The innovations stimulated by HU-LEARN will enhance the University's position as an academic leader in the provision of affordable, high-quality learning opportunities for on-campus students, with special attention to the needs of students of color. These innovations will also greatly expand the University's national and international reach to students far beyond its campus walls in the United States and in sub-Saharan Africa, the Caribbean, Latin America, and throughout the African Diaspora. <br><br>

<strong>HU-Teach Objectives</strong> (<strong>Dr. Teresa Redd</strong>, Subcommittee Chair)<br>
HU-Teach is a subcommittee of HU-LEARN. The mission of HU-Teach is to incentivize faculty to greatly accelerate their conversion of on-campus courses from face-to-face to blended & 100% online formats … Blended courses deliver at least 30% of their content via the Internet. HU-Teach will also encourage the development of the online courses that could be included in future online programs offered by HU-OL. Where feasible, the University will provide stipends to faculty who submit successful applications, complete the required training, and develop high-quality courses.<br><br>


<strong>HU-OL Objectives</strong> (<strong>Dr. Helen Bond</strong>, Subcommittee Chair)<br>
HU-OL will manage online degree & certificate programs for off-campus students with support from a strategic partner. Online courses for on-campus students will be converted to formats more suitable for off-campus students., e.g., shorter sessions, alternative sequences. <br><br>


<strong>Standards & Compliance Objectives</strong> (<strong>Dr. Narendra Rustagi</strong>, Subcommittee Chair)<br>
The Standards & Compliance subcommittee will ensure that on-campus course conversions and on-line course offerings satisfy rigorous internal quality standards and the requirements of relevant professional/accreditation societies.<br><br>




<strong>Need to Contact us?</strong><br><br>

<strong>HU-LEARN</strong><br>
Howard Center<br>
Room 503<br>
2225 Georgia Avenue, NW<br>
Washington, D.C. 20059<br><br>


<strong>Send Us an Email</strong><br><br>

Please direct your questions to: <br>
Moses Garuba, Ph.D.<br>
hulearn@howard.edu
    </div>
  </div>
</div>
