<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">About OIAE</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Newsletters</a></li>
          <li><a href="#">Activities</a></li>
        </ul>
    </div>
  </div>
</div>