
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/committees">Committees</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Links</a></li>
          <li class="active"><a href="#">Contact</a></li>
        </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10"><br>

    <strong>You can reach any of the committee members below:</strong><br><br>

    <strong>Dr. Moses Garuba</strong><br>
    Committee Chair, HU-Learn<br>
    202 806-4371<br>
    mgaruba@howard.edu<br><br>

    <strong>Dr. Teresa M. Redd</strong><br>
    Subcommittee Chair, HU-Teach<br>
    202 806-0870<br>
    tredd@howard.edu<br><br>

    <strong>Dr. Helen Bond</strong><br>
    Subcommittee Chair, HU-OL<br>
    202 806-5299<br>
    hbond@howard.edu<br><br>

    <strong>Dr. Narendra Rustagi</strong><br>
    Subcommittee Chair, Standards & Compliance Objectives<br>
    202 806-1606<br>
    nrustagi@howard.edu<br><br>

    


    </div>
  </div>
</div>
