
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/committees">Committees</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="image">
        <img src="<%= asset_path 'body.jpg' %>" alt="img-responsive" width="100%" style="height:450px;"/>
          <%#<h2><span>I can put anything here!<span class='spacer'></span><br>
            <span class='spacer'></span>Online Learning for the World
            <span class='spacer'></span>Dr. Michael Wallace featured in New Leadership Alliance Newsletter 2012 
            </span>
          </h2>%>
        </div>
    </div>
  </div>
</div>
