
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/committees">Committees</a></li>
          <li><a href="#">Activities</a></li>
          <li class="active"><a href="#">Links</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10"><br>

    <p class="link-title"><strong>Howard University Online Degree Programs</strong></p>

    <a href="http://www.executivemba.howard.edu/"><strong>Executive MBA</strong></a><br> <br>

    <a href="http://healthsciences.howard.edu/education/schools-and-academics/nursing-allied-health/division-of-nursing/prospective-students/programs/undergraduate-program"><strong>RN-BSN Nursing Completion</strong></a><br> <br>
    
    <a href="http://healthsciences.howard.edu/education/schools-and-academics/nursing-allied-health/division-of-AHS/departments/clinical-laboratory-science/admissions/online-option"><strong>Clinical Laboratory Science</strong></a><br> <br>


    <a href="http://healthsciences.howard.edu/education/schools-and-academics/pharmacy/programs/Non-Traditional-pharmD"><strong>Non-Traditional PharmD</strong></a><br> <br>

    <a href="http://howardlawparalegal.com/paralegal/"><strong>Paralegal Studies</strong></a><br> <br>


    <p class="link-title"><strong>Other Links</strong></p>
    <a href="http://www.cetla.howard.edu/hu-teach/"><strong>HU-TEACH Application Guidelines</strong></a><br> <br>
    <a href="http://www.cetla.howard.edu/external/DL_STUDENTS.html"><strong>Distance Learning Orientation for Students</strong></a><br> <br>


    </div>
  </div>
</div>
