

<footer class="footerWrapper">
	<div class="container">
	  <div class="row">
	  <div class="col-md-offset-1 col-md-10">		

	    Copyright &copy; <a href="http://www.howard.edu/">Howard University</a>
	    <span class='spacer'></span><span class='spacer'></span>
	    <span class='spacer'></span><span class='spacer'></span>	
	         	About | Terms & Conditions | FAQs

	    </div>
	</div>
	</div>
</footer>